doctype html
html
    head 
        title ESNetwork - #{pageView}
        include lib/socketio.pug
        include lib/axios.pug
        include lib/semantic.pug
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/css/mainPageStyle.css')
        script(src='/javascript/mainPage.js')
        link(rel='stylesheet' href='/css/directoryPageStyle.css')
        script(src='/javascript/directory.js')
        script(src='/javascript/chat.js')
        link(rel='stylesheet' href='/css/chat.css')
    body
        // header
        include header.pug
        // page content
        .main-page-content
            #directoryContent(style=pageView=="Directory"?"display:block":"display:none")
                include directory.pug
            #publicContent(style=pageView=="Public"?"display:block":"display:none")
                include chat.pug
            #searchContent(style=pageView=="Search"?"display:block":"display:none")
            #statusContent(style=pageView=="Status"?"display:block":"display:none")
        // footer
        include footer.pug
