doctype html
html
    head 
        title ESNetwork - #{pageView}
        include lib/socketio.pug
        include lib/axios.pug
        include lib/semantic.pug
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/css/mainPageStyle.css')
        script(src='/javascript/mainPage.js')
        link(rel='stylesheet' href='/css/directoryPageStyle.css')
        script(src='/javascript/directory.js')
        script(src='/javascript/chat.js')
        script(src='/javascript/announcement.js')
        script(src='/javascript/speedTest.js')
        link(rel='stylesheet' href='/css/chat.css')
        link(rel='stylesheet' href='/css/status.css')
        link(rel='stylesheet' href='/css/search.css')
        script(src='/javascript/status.js')
        script(src='/javascript/search.js')
        script(src='/javascript/emergencyContact.js')
        link(rel='stylesheet' href='/css/blog.css')
        script(src='/javascript/blog.js')
        //- map
        link(rel='stylesheet' href='/css/map.css')
        script(src='/javascript/map.js')
    body
        // header
        include speedTestModal.pug 
        include header.pug
        // page content
        .main-page-content
            include announcementBox.pug
            #currentPage(hidden)
            #chatPrivateReceiver(hidden)
            #currentUsername(hidden)
            #currentUserStatus(hidden)
            #searchInfo(hidden)
            #directoryContent(style=pageView=="Directory"?"display:block":"display:none")
                #groupChatContent
                    include emergencyGroup.pug 
                include directory.pug
            #publicChatContent(style=pageView=="Public"?"display:block":"display:none")
                include chat.pug
            #privateChatContent(style=pageView=="Private"?"display:block":"display:none")
                include chatPrivate.pug  
            #announcementContent(style=pageView=="Announcement"?"display:block":"display:none")
                include announcementBoard.pug 
            #statusContent(style=pageView=="Status"?"display:block":"display:none")
                include status.pug
            #searchContent(style=pageView=="Search"?"display:block":"display:none")
                include search.pug
            #discoverContent(style=pageView=="Discover"?"display:block":"display:none")
                include discover.pug
            #blogContent(style=pageView=="Blog"?"display:block":"display:none")
                include blogboard.pug
            #editBlogContent(style=pageView=="Blog"?"display:block":"display:none")
                include blogEdit.pug
            #viewBlogContent(style=pageView=="Blog"?"display:block":"display:none")
                include blogView.pug
            #mapContent(style=pageView=="Map"?"display:block":"display:none")
                include map.pug
        // map bottom information
        include mapBottomInfo.pug
        // footer
        include footer.pug
