doctype html
html
    head 
        title ESNetwork - #{pageView}
        include lib/socketio.pug
        include lib/axios.pug
        include lib/semantic.pug
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/css/mainPageStyle.css')
        script(src='/javascript/mainPage.js')
        link(rel='stylesheet' href='/css/directoryPageStyle.css')
        script(src='/javascript/directory.js')
        script(src='/javascript/chat.js')
        script(src='/javascript/announcement.js')
        script(src='/javascript/speedTest.js')
        link(rel='stylesheet' href='/css/chat.css')
        link(rel='stylesheet' href='/css/status.css')
        link(rel='stylesheet' href='/css/search.css')
        script(src='/javascript/status.js')
    body
        // header
        include speedTestModal.pug 
        include header.pug
        // page content
        .main-page-content
            // include announcement.pug
            #currentPage(hidden)
            #chatPrivateReceiver(hidden)
            #currentUsername(hidden)
            #currentUserStatus(hidden)
            #searchInfo(hidden)
            #directoryContent(style=pageView=="Directory"?"display:block":"display:none")
                include directory.pug
            #publicChatContent(style=pageView=="Public"?"display:block":"display:none")
                include chat.pug
            #privateChatContent(style=pageView=="Private"?"display:block":"display:none")
                include chatPrivate.pug  
            #announcementContent(style=pageView=="Announcement"?"display:block":"display:none")
                include announcementBoard.pug 
            #statusContent(style=pageView=="Status"?"display:block":"display:none")
                include status.pug
            #searchContent(style=pageView=="Search"?"display:block":"display:none")
                include search.pug
        // footer
        include footer.pug
