.item(class="active" id=`directory-user-block-${user.username}`) 
    .content(onclick=`displayPrivateMessage('${user.username}')`)
        a.header 
            .ui.circular.avatar.image 
                img(src="/icons/cloud-off.svg")
            span.main-page-name #{user.username}
            
            i(class=`${user.statusStyle}` id=`directoryStatus-${user.username}`)
            .new-message-alert(id=`directoryNewMessage-${user.username}` )
                i.certificate.icon.new-message-alert-icon
        if currentRole === 'admin'
            .ui.right.floated.green.button(onclick=`editProfile('${user.username}'); event.stopPropagation()`) edit 
        if user.online
            .meta.online online
        else
            .meta offline
